---
layout: default
pagination:
    enabled: true
---

<!-- _layouts/postlist.html -->
<header><h2>{{ autopages.display_name | default: page.title }}</h2></header>

{% for post in paginator.posts %}
<article>
    <header>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
        <span>{{ post.date | date: "%B %-d, %Y" }}</span>
    </header>
    <p>{{ post.excerpt }}</p>
    {% if post.excerpt != post.content %}
    <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    {% endif %}
</article>
{% endfor %}

<footer>
    {% if paginator.total_pages > 1 %}
    <p>
        {% if paginator.previous_page %}
            <a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        {% endif %}
        {% if paginator.next_page %}
            <a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        {% endif %}
    </p>
    {% endif %}
</footer>
